<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestValue" value="success"/>
    <add key="connectionStrings" value="mongodb+srv://username:password@cluster0-lgn2s.gcp.mongodb.net/test?retryWrites=true&amp;w=majority"/>
    <!-- The following tag would allow for multiple connection strings, parseable at run-time. Note: encode & -> &amp;
    <add key="connectionStrings"
         value="mongodb+srv://testuser1:testpw2@cluster0-05f1n.mongodb.net/test?retryWrites=true&amp;w=majority,
                mongodb+srv://testuser2:testpw2@cluster0-lgn2s.gcp.mongodb.net/test?retryWrites=true&amp;w=majority" />
    -->
    <add key="listingsFolder" value="C:/Users/Whyve/Projects/CloudCluster/dataset/CSV/Listings"/>
    <add key="reviewsFolder" value="C:/Users/Whyve/Projects/CloudCluster/dataset/CSV/Reviews"/>
  </appSettings>
  
</configuration>