<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestValue" value="success"/>
    
    <!-- The following tags allow for multiple connection strings, parseable at run-time. Note: encode & -> &amp; -->
    <add key="connectionStrings" value="GCP,AWS,Azure" /> 
    <add key="GCP" value="mongodb+srv://username1:password1@cluster0-lgn2s.gcp.mongodb.net/test?retryWrites=true&amp;w=majority" />
    <add key="AWS" value="mongodb+srv://username2:password2@cluster0-0pefp.mongodb.net/test?retryWrites=true&amp;w=majority" />
    <add key="Azure" value="mongodb+srv://username3:password3@cluster0-dsmao.azure.mongodb.net/test?retryWrites=true&amp;w=majority" />

    <!-- Location of folders containing .csv or .json file to import -->
    <add key="listingsFolder" value="C:/Users/Whyve/Documents/CS488/Dataset/CSV/Listings"/>
    <add key="reviewsFolder" value="C:/Users/Whyve/Documents/CS488/Dataset/CSV/Reviews"/>
  </appSettings>
  
</configuration>
